In [5]:
import glob

In [6]:
read_files = glob.glob("*.txt")
with open("merged.txt", "wb") as outfile:
    for f in read_files:
        with open(f, "rb") as infile:
            outfile.write(infile.read())

In [7]:
with open("merged.txt", "r") as s:
    lines = s.readlines()
with open("merged.txt", "w") as s:
    for line in lines:
        if line.strip("\n") != "Node Name	Level	Type":
            s.write(line)

In [9]:
import csv
txt_file = r"merged.txt"
csv_file = r"merged.csv"
in_txt = csv.reader(open(txt_file, "r"), delimiter = '\t')
out_csv = csv.writer(open(csv_file, 'w'))
out_csv.writerows(in_txt)

AttributeError: 'str' object has no attribute 'colse'

In [2]:
import pandas as pd
df = pd.read_csv("merged - Copy.csv")

      18_1111111121    0    I
0     20_2111111111  0.0    I
1     13_2111111011  0.0    I
2     50_1111111111  0.0    I
3     24_1111111111  0.0    I
4     37_1111111111  0.0    I
...             ...  ...  ...
7479            NaN  NaN  NaN
7480            NaN  NaN  NaN
7481            NaN  NaN  NaN
7482            NaN  NaN  NaN
7483            NaN  NaN  NaN

[7484 rows x 3 columns]